<div id="home" class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <a href="#" class="rollover redroll">
              <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
              <div>
                Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="#" class="rollover pinkroll">
              <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
              <div>
                Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="#" class="rollover orangeroll">
              <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
              <div>
                Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="#" class="rollover blueroll">
              <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
              <div>
                Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#" class="rollover redroll">
          <img src="http://www.strohlsf.com/content/images/home/americangiant_strohl_home.jpg" class="img-responsive">
          <div>
            Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-8">
        <a href="#" class="rollover redroll">
          <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
          <div>
            Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#" class="rollover redroll">
          <img src="http://www.strohlsf.com/content/images/home/woodfourbrewing_strohl_home.jpg" class="img-responsive">
          <div>
            Located in scenic Sonoma County, a location known for fresh ingredients and fine wine, this brewery is not your average pub.
          </div>
        </a>
      </div>
    </div>
  </div>
</div>