<div class="form-group">
  <label class="control-label">產品名</label>
  <%= f.text_field :zh_TW_title, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="control-label">內容物</label>
  <%= f.text_field :zh_TW_content, class: 'form-control' %>
</div>

<div class="form-group">
  <label class="control-label">適用規格</label>
  <%= f.text_area :zh_TW_applicable_s, class: 'form-control', rows: 3 %>
  <p class="help-block">範例: JASO, HYUNDAI, JAGUAR...，使用逗號（,）區隔。</p>
</div>

<div class="form-group">
  <label class="control-label">敘述</label>
  <%= f.text_area :zh_TW_description, class: 'form-control ckeditor' %>
</div>