#products
  .thumbnail
    background-color: rgba(255, 255, 255, 0.75)
    -webkit-transition: background 200ms ease-in 0
    -moz-transition: background 200ms ease-in 0
    -o-transition: background 200ms ease-in 0
    transition: background 200ms ease-in 0
    a
      text-decoration: none
    &:hover 
      background-color: white

#product
  .area-description, .area-applicable-type
    background-color: white
    padding: 10px
    margin-bottom: 10px
    border: 1px solid #dddddd
    border-radius: 1px

  span.glyphicon.glyphicon-asterisk
    color: red