<% 
  default_image = 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTkzIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDE5MyAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTkzIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjcwLjU1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5M3gyMDA8L3RleHQ+PC9nPjwvc3ZnPg==' 
%>

<div class="row">
  <% (1..10).each do |i| %>
  <% @products.each do |product| %>
    
    <div class="col-xs-6 col-sm-4">

      <a href="<%= product_path(product.id) %>" class="thumbnail">
        <img data-src="holder.js/100%x200" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="<%= (product.photo.nil?) ? default_image : product.photo.avatar.url(:medium) %>" data-holder-rendered="true">
        <div class="caption">
          <h4>
            <%= product.trans_title %><br>
            <small><%= product.trans_content %></small>
          </h4>
        </div>
      </a>

    </div>

  <% end %>
  <% end %>
</div>

<style type="text/css">
a.thumbnail {
  text-decoration: none;
}
</style>