<% count_in_row = 4 %>
<div id="products" class="row">
  <% @products.each_with_index do |product, index| %>
    <% if (index.modulo count_in_row) == 0%>
      <div class="col-xs-12 col-sm-12">
        <div class="row">
    <% end %>
          <div class="col-xs-6 col-sm-3">
            <a href="<%= product_path(product.id) %>" class="thumbnail">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <img data-src="holder.js/100%x100%" alt="160X160" style="height 100%; width: 100%; display: block;" src="<%= product.cover_src(:medium) %>" data-holder-rendered="true">
                </div>
                <div class="col-xs-12 col-sm-12">
                  <div class="caption">
                  <h4>
                    <%= product.trans_title %><br>
                    <small><%= product.trans_content %></small>
                  </h4>
                </div>
                </div>
              </div>
            </a>
          </div>
    <% if (index.modulo count_in_row) == (count_in_row - 1) || product == @products.last %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>