.footer
  .container
    %p
      = link_to t('nav.link_list.language.cht'), :locale => "zh-TW"
      |
      \#{link_to t('nav.link_list.language.chs'), :locale => "zh-CN"} |
      \#{link_to t('nav.link_list.language.en'), :locale => "en"}
    %p © 2015 - SHUNG-CHIN TRADE CO.,LTD.
