#wallpaper
  #home-carousel.carousel.slide{data: {ride: "carousel"}}
    %ol.carousel-indicators
      %li.active{data: {target: "#home-carousel", slide: {to: "0"}}}
      %li{data: {target: "#home-carousel", slide: {to: "1"}}}
      %li{data: {target: "#home-carousel", slide: {to: "2"}}}
    .carousel-inner{role: "listbox"}
      .item.active
        = image_tag('http://www.shedoesthecity.com/wp-content/uploads/files/2015/05/nrm_1404739639-endometriosis.jpg')
      .item
        = image_tag('http://www.shedoesthecity.com/wp-content/uploads/files/2015/05/nrm_1404739639-endometriosis.jpg')
      .item
        = image_tag('http://www.shedoesthecity.com/wp-content/uploads/files/2015/05/nrm_1404739639-endometriosis.jpg')
