#wallpaper
  #home-carousel.carousel.slide{data: {ride: "carousel", interval: "3000"}}
    %ol.carousel-indicators
      - @wallpapers.each_with_index do |wallpaper, index|
        %li{class: "#{index == 0 ? 'active' : ''}", data: {target: "#home-carousel", slide: {to: "#{index}"}}}
    .carousel-inner{role: "listbox"}
      - @wallpapers.each_with_index do |wallpaper, index|
        .item{class: "#{index == 0 ? 'active' : ''}"}
          = image_tag(wallpaper.avatar.url(:large))
